<h1>Results Page</h1>
<div>
    <a href="/">Home Page</a>
</div>
<br>

<% data["Search"].forEach(function(movie){ %>
    <ul>
        <li><a href="<%= movie['Poster'] %>"> 
            <strong>
                <%=movie["Title"]%>
            </strong> -
                <%=movie["Year"]%></a></li>
    </ul>
    <% }) %>