<h1>This is the Secret Page</h1>

<img src="https://image.shutterstock.com/image-vector/top-secret-red-square-grunge-260nw-325529471.jpg" alt="http://static1.squarespace.com/static/5506f3eee4b0e08b6893701f/5506f46be4b04d6f09d9c3c2/57924fc8bebafb95b9922197/1470682390815/trade-secrets.jpg?format=1000w">

<br>
<li><a href="/register">Sign Up</a></li>
<li><a href="/login">Login</a></li>
<li><a href="/logout">Logout</a></li>