.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}

.form-signin .form-control:focus {
    z-index: 2;
}

.form-signin input[type="text"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.card-body {
    padding: 0.5rem;
}

/* Sticky footer styles
  -------------------------------------------------- */

html {
    position: relative;
    min-height: 100%;
    margin: 0;
    padding: 0;
}

body {
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #f5f5f5;
}

.container .text-muted {
    margin: 20px 0 0;
}

/* Sticky Footer (with SemanticUI) */

/* .container {
    min-height: calc(100% - 120px);
}

.footer {
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #f5f5f5;
    text-align: center;
    padding-top: 15px;
} */

/* Thumbnail styles */

.thumbnail img {
    width: 100%;
}

.thumbnail .caption-full {
    padding: 15px;
}

.caption-full h1 {
    /* font-size: 18px; */
    margin-top: 10px;
}

.delete-form {
    display: inline;
    margin-left: 3px;
}

.profile {
    list-style-type: none;
    padding-left: 0;
}

/* Sign-in form overwrite */

.noBorderRadius {
    margin-bottom: -1px !important;
    border-radius: 0;
}

#inputAdminCode {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

#image {
    display: block;
}

#map {
    height: 400px;
    width: 100%;
}

#profile {
    margin-top: 15px;
}

#forgotPassword {
    position: right;
    color: orangered;
}

#userCampgrounds {
    list-style-type: none;
    padding-inline-start: 0;
}

#userCampgrounds>li {
    font-size: 20px;
}

.checked {
    color: orange;
}

.starrating>input {
    display: none;
}

/* Remove radio buttons */

.starrating>label:before {
    content: "\f005";
    /* Star */
    margin: 2px;
    font-size: 4em;
    font-family: FontAwesome;
    display: inline-block;
}

.starrating>label {
    color: #222222;
    /* Start color when not clicked */
}

.starrating>input:checked~label {
    color: #ffca08;
}

/* Set yellow color when star checked */

.starrating>input:hover~label {
    color: #ffca08;
}

/* Set yellow color when star hover */

/* Profile styling */

.container .img {
    text-align: center;
}

.container .details {
    border-left: 3px solid #ded4da;
}

.container .details p {
    font-size: 15px;
    font-weight: bold;
}