<% include partials/header %>
<h1>Grid Updated: Adding
    <%= thingVar.toUpperCase() %>
</h1>

<% if (thingVar.toLowerCase() === "tron"){ %>
    <p>Valid action. Tron Added</p>
    <% } else {%>
        <p>Error. Unknown object rejected.</p>
        <% } %>

<p>grid.ejs file at work!</p>

<% include partials/footer %>
