<% include partials/header %>

<h1>The ISOS page</h1>

<% for(var i = 0; i < isos.length; i++){ %>
    <li>
        <strong><%= isos[i].name %></strong> - <%= isos[i].gender %>
    </li>
<% } %>
<br>
<% isos.forEach(function(iso){ %>
    <li>
        <strong><%= iso.name %></strong> - <%= iso.gender %>
    </li>
<% }); %>

<% include partials/footer %>