<% include ../partials/header %>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center mb-5">All reviews for
                <%= campground.name %>
            </h1>
            <div>
                <% if (campground.rating === 0) { %>
                <h5>
                    <em>No reviews yet.</em>
                </h5>
                <% } else { %>
                <p>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star <% if (campground.rating > 1.5) { %> checked <% } %>"></span>
                    <span class="fa fa-star <% if (campground.rating > 2.5) { %> checked <% } %>"></span>
                    <span class="fa fa-star <% if (campground.rating > 3.5) { %> checked <% } %>"></span>
                    <span class="fa fa-star <% if (campground.rating > 4.5) { %> checked <% } %>"></span>
                    <em>(total reviews:
                        <%= campground.reviews.length %>)</em>
                </p>
                <div class="float-right">
                    <a class="btn btn-primary <% if (currentUser && campground.reviews.some(function (review) {return review.author.id.equals(currentUser._id)})) { %> disabled <% } %>"
                        href="/campgrounds/<%= campground._id %>/reviews/new">
                        Write a New Review</a>
                </div>
                <p>
                    Current campground rating: <strong>
                        <%= campground.rating.toFixed(2) %></strong>
                </p>
                <p class="mt-5">
                    <h4>All reviews for
                        <%= campground.name %>:</h4>
                </p>
                <hr>
                <% campground.reviews.forEach(function(review){ %>
                <div class="row">
                    <div class="col-md-12 mb-0">
                        <div id="reviews" class="card-body mb-2">
                            <div class="mb-2">
                                <% if(currentUser && review.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin){ %>
                                <div class="float-right">
                                    <% if(currentUser && review.author.id.equals(currentUser._id)){ %>
                                    <!-- Edit button for Review edit form collapse -->
                                    <a class="btn btn-sm btn-warning" role="button" data-toggle="collapse" href="#collapseEdit<%= review._id %>"
                                        aria-expanded="false" aria-controls="collapse<%= review._id %>">Edit</a>
                                    <% } %>
                                    <form class="delete-form" action="/campgrounds/<%=campground._id %>/reviews/<%=review._id %>?_method=DELETE"
                                        method="POST">
                                        <input type="submit" class="btn btn-sm btn-danger" value="Delete">
                                    </form>
                                </div>
                                <% } %>
                                <%- '<span class="fa fa-star checked"></span>'.repeat(review.rating) %>
                                <%- '<span class="fa fa-star"></span>'.repeat(5 - review.rating) %>
                                <span class="ml-3">Review by: <strong>
                                        <%= review.author.username %></strong></span>
                                <span class="ml-2"><em>
                                        <%= moment(review.updatedAt).format("MMM Do, YYYY") %></em></span>
                            </div>
                            <!-- Edit Review Form -->

                            <div class="collapse" id="collapseEdit<%= review._id %>">
                                <div class="card-body">
                                    <h4>Edit your review</h4>
                                    <form id="edit-review-form<%= review._id %>" action="/campgrounds/<%= campground._id %>/reviews/<%= review._id %>?_method=PUT"
                                        method="POST">
                                        <div class="form-group">
                                            <div class="starrating risingstar d-flex justify-content-center flex-row-reverse d-inline-block">
                                                <input type="radio" id="star5" name="review[rating]" value="5" /><label
                                                    for="star5" title="5 star"></label>
                                                <input type="radio" id="star4" name="review[rating]" value="4" /><label
                                                    for="star4" title="4 star"></label>
                                                <input type="radio" id="star3" name="review[rating]" value="3" /><label
                                                    for="star3" title="3 star"></label>
                                                <input type="radio" id="star2" name="review[rating]" value="2" /><label
                                                    for="star2" title="2 star"></label>
                                                <input type="radio" id="star1" name="review[rating]" value="1"
                                                    autofocus required /><label for="star1" title="1 star"></label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <textarea class="form-control" name="review[text]" placeholder="Your review text..."
                                                form="edit-review-form<%= review._id %>" rows="5" cols="70"><%= review.text %></textarea>
                                        </div>
                                        <div class="form-group text-center">
                                            <button class="btn btn-warning">Edit review</button>
                                        </div>
                                    </form>
                                </div>
                            </div>

                            <!-- Printing the Review -->
                            <div class="col-md-12">
                                <p>
                                    <%= review.text %>
                                </p>
                            </div>
                        </div>
                        <hr class="mt-0">
                    </div>
                </div>
                <% }); %>
                <% } %>
                <div class="mt-3">
                    <a class="btn btn-default btn-primary" href="/campgrounds/<%= campground._id %>"><i class="fa fa-arrow-left"></i>
                        Back to Campground</a>
                </div>
            </div>
        </div>
    </div>
</div>

<% include ../partials/footer %>