<% include ./partials/header %>

<div class="ui main tesxt container segment">
    <div class="ui huge header">New Blog</div>
    <form class="ui form" action="/blogs" method="POST">
        <div class="field">
            <label>Title</label>
            <input type="text" name="blog[title]" placeholder="Title">
        </div>
        <div class="field">
            <label>Image</label>
            <input type="text" name="blog[image]" placeholder="Image">
        </div>
        <div class="field">
            <label>Blog Contents</label>
            <textarea name="blog[body]" required></textarea>
        </div>
    <input type="submit" class="ui big inverted orange button">
    </form>
</div>

<% include ./partials/footer %>