<% include ./partials/header %>

<div class="ui main text container segment">
    <div class="ui huge header">
        <%= blog.title %>
    </div>
    <div class="ui top attached">
        <div class="item">
            <img class="ui centered rounded image" src="<%= blog.image %>" alt="">
            <div class="content">
                <span>
                    <%= blog.created.toDateString() %>
                </span>
            </div>
            <div class="description">
                <p>
                    <%- blog.body %>
                </p>
            </div>
            <form id="delete" action="/blogs/<%= blog._id %>?_method=DELETE" method="POST">
                <a href="/blogs/<%= blog._id %>/edit" class="ui big inverted orange button">Edit</a>
                <button class="ui big inverted red button">Delete</button>
            </form>

        </div>
    </div>
</div>

<% include ./partials/footer %>