<% include ../partials/header %>
<div class="row justify-content-center">
    <div class="col-md-12 text-center mb-4">
        <h1>
            Edit comment
        </h1>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-4">
        <form action="/campgrounds/<%= campground_id %>/comments/<%= comment._id %>?_method=PUT" method="POST">
            <div class="form-group">
                <textarea class="form-control" type="text" name="comment[text]" rows="5"><%= comment.text %></textarea>
            </div>
            <div class="form-group">
                <button class="btn btn-large btn-primary btn-block">Submit</button>
            </div>
        </form>
        <a href="/campgrounds/<%= campground_id %>">Back to Campground</a>
    </div>
</div>
<% include ../partials/footer %>