<% include ../partials/header %>
<div class="row justify-content-center">
  <div class="col-md-12 text-center"><h1>Create a new campground</h1></div>
  <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
    <form action="/campgrounds" method="POST" enctype="multipart/form-data">
      <div class="form-group">
        <label for="name">Name</label>
        <input
          class="form-control"
          type="text"
          id="name"
          name="campground[name]"
          placeholder="Name"
          autofocus
        />
      </div>
      <div class="form-group">
        <label for="image">Image</label>
        <input type="file" id="image" name="image" accept="image/*" required />
      </div>
      <div class="form-group">
        <label for="price">Price</label>
        <input
          class="form-control"
          type="number"
          id="price"
          placeholder="Price, $/night"
          name="campground[price]"
          min="0.01"
          step="0.01"
          required
        />
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        <input
          class="form-control"
          type="text"
          id="description"
          placeholder="Description"
          name="campground[description]"
        />
      </div>
      <div class="form-group">
        <label for="location">Location</label>
        <input
          class="form-control"
          type="text"
          id="location"
          name="location"
          placeholder="Yosemite National Park, CA"
        />
      </div>
      <div class="form-group">
        <button class="btn btn-large btn-primary btn-block">Submit</button>
      </div>
    </form>
    <a href="/campgrounds">Back to Campgrounds</a>
  </div>
</div>

<% include ../partials/footer %>
