<% include ../partials/header %>
<div class="row">
    <div class="col-md-3">
        <div id="map"></div>
    </div>
    <div class="col-md-9">
        <div class="card mb-4">
            <img src="<%= campground.image.url %>" class="card-img-top" alt="<%= campground.name %>">
            <div class="card-body">
                <h5 class="float-right">
                    $
                    <%= campground.price.toFixed(2) %>/night
                </h5>
                <h5 class="card-title">
                    <strong>
                        <%= campground.name %></strong>
                </h5>
                <div class="row">
                    <div class="col-md-12">
                        <em>Submitted by:
                            <strong><a href="/users/<%= campground.author.id %>">
                                    <%= campground.author.username %></a></strong>,
                            <%= moment(campground.createdAt).fromNow() %>
                        </em>
                        <% if(currentUser && campground.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin) { %>
                        <div class="float-right">
                            <a class="btn btn-warning" href="/campgrounds/<%= campground._id %>/edit">Edit</a>
                            <form class="delete-form" action="/campgrounds/<%= campground._id %>?_method=DELETE" method="POST">
                                <button class="btn btn-danger">Delete</button>
                            </form>
                        </div>
                        <% } %>
                    </div>
                </div>
                <hr>
                <p class="card-text">
                    <%= campground.description %>
                </p>
            </div>
        </div>

        <!-- Review Section -->

        <div class="card mb-3">
            <div class="card-body">
                <% if (campground.rating === 0) { %>
                <h5>
                    <em>No reviews yet.</em>
                </h5>
                <% } else { %>
                <p class="float-right">
                    Current campground rating: <strong>
                        <%= campground.rating.toFixed(2) %></strong>
                </p>
                <p>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star <% if (campground.rating > 1.5) { %> checked <% } %>"></span>
                    <span class="fa fa-star <% if (campground.rating > 2.5) { %> checked <% } %>"></span>
                    <span class="fa fa-star <% if (campground.rating > 3.5) { %> checked <% } %>"></span>
                    <span class="fa fa-star <% if (campground.rating > 4.5) { %> checked <% } %>"></span>
                    <em>(Total reviews:
                        <%= campground.reviews.length %>)</em>
                </p>
                <p>
                    <h4>Latest reviews for this campground</h4>
                </p>
                <div class="row">
                    <% campground.reviews.slice(0, 5).forEach(function(review){ %>
                    <div class="col-md-12">
                        <div class="card mb-3">
                            <div class="card-body mb-1">
                                <div class="mb-1">
                                    <%- '<span class="fa fa-star checked"></span>'.repeat(review.rating) %>
                                    <%- '<span class="fa fa-star"></span>'.repeat(5 - review.rating) %>
                                    <span class="ml-3">Review by: <strong>
                                            <%= review.author.username %></strong></span>
                                    <span class="ml-2"><em>
                                            <%= moment(review.updatedAt).format("MMM Do, YYYY") %></em></span>
                                    <div>
                                    </div>
                                </div>
                                <p class="card-text">
                                    <%= review.text %>
                                </p>
                            </div>
                        </div>
                    </div>
                    <% }); %>
                </div>
                <div>
                    <h4><a href="/campgrounds/<%= campground._id %>/reviews"><i class="fa fa-search" aria-hidden="true"></i>
                            See all reviews</a></h4>
                </div>
                <% } %>
                <div>
                    <a class="btn btn-primary <% if (currentUser && campground.reviews.some(function (review) {return review.author.id.equals(currentUser._id)})) { %> disabled <% } %>"
                        role="button" data-toggle="collapse" href="#collapseReview" aria-expanded="false" aria-controls="collapseReview">
                        <span aria-hidden="true"></span> Write a new Review</a>
                </div>
            </div>

            <!--Collapse Write a review form START-->
            <div class="collapse" id="collapseReview">
                <div class="card-body">
                    <% if(!currentUser) { %>
                    <!--If the user is not logged in, direct him to the login page-->
                    <h5>You need to login to leave a review. <a href="/login">Click here</a> to go to the
                        login page.</h5>
                    <% } %>
                    <% if(currentUser) { %>
                    <!--If the user is logged in, show the new review form-->
                    <form id="add-review-form" action="/campgrounds/<%= campground._id %>/reviews" method="POST">
                        <div class="form-group">
                            <h4>Leave a rating: <span aria-hidden="true"></span></h4>
                            <div class="starrating risingstar d-flex justify-content-center flex-row-reverse">
                                <input type="radio" id="star5" name="review[rating]" value="5" /><label for="star5"
                                    title="5 star"></label>
                                <input type="radio" id="star4" name="review[rating]" value="4" /><label for="star4"
                                    title="4 star"></label>
                                <input type="radio" id="star3" name="review[rating]" value="3" /><label for="star3"
                                    title="3 star"></label>
                                <input type="radio" id="star2" name="review[rating]" value="2" /><label for="star2"
                                    title="2 star"></label>
                                <input type="radio" id="star1" name="review[rating]" value="1" autofocus required /><label
                                    for="star1" title="1 star"></label>
                            </div>
                        </div>
                        <div class="form-group">
                            <textarea class="form-control" type="text" name="review[text]" placeholder="Write a review for this campground..."
                                form="add-review-form" rows="5"></textarea>
                        </div>
                        <div class="form-group text-center">
                            <button class="btn btn-primary">Submit a Review</button>
                        </div>
                    </form>
                    <% } %>
                </div>
            </div>
            <!--Collapse Write a review form END-->
        </div>

        <!-- Comment section -->

        <div class="card mb-2">
            <div class="card-body">
                <!--Setting up the add new comment button that is used for collapsing-->
                <div class="float-right">
                    <a class="btn btn-success pull-right" role="button" data-toggle="collapse" href="#collapseComment"
                        aria-expanded="false" aria-controls="collapseComment">
                        <span aria-hidden="true"></span> Add new comment</a>
                </div>
                <!--Comment section title-->
                <h4><strong>Comments<span aria-hidden="true"></span></strong></h4>

                <!--Collapse Add a comment form START-->
                <div class="collapse" id="collapseComment">
                    <div class="card-body">
                        <% if(!currentUser) { %>
                        <!--If the user is not logged in, direct him to the login page-->
                        <h5>You need to login before you can comment. <a href="/login">Click here</a> to go to the
                            login page.</h5>
                        <% } %>
                        <% if(currentUser) { %>
                        <!--If the user is logged in, show the new comment form-->
                        <h4>Write your comment <span aria-hidden="true"></span></h4>
                        <form id="add-comment-form" action="/campgrounds/<%= campground._id %>/comments" method="POST">
                            <div class="form-group">
                                <textarea class="form-control" type="text" name="comment[text]" placeholder="Write your comment..."
                                    form="add-comment-form" rows="5"></textarea>
                            </div>
                            <div class="form-group text-center">
                                <button class="btn btn-success btn-sm">Comment <span aria-hidden="true"></span></button>
                            </div>
                        </form>
                        <% } %>
                    </div>
                </div>
                <!--Collapse Add a comment form END-->
            </div>

            <div class="card-body">
                <!--Check if there are comments, if there are none say no comments.-->
                <% if (campground.comments.length === 0) { %>
                <em>No comments yet.</em>
                <% } %>

                <!--Display comments by looping through them-->
                <div class="row">
                    <% campground.comments.forEach(function(comment) { %>
                    <div class="col-md-12">
                        <div class="card mb-2">
                            <div class="card-body mb-1">
                                <strong><a href="/users/<%= campground.author.id %>">
                                        <%= comment.author.username %></a></strong>
                                <span class="float-right">
                                    <em>
                                        <%= moment(comment.createdAt).fromNow() %>
                                    </em>
                                </span>
                                <div>
                                    <!--If the visitor is logged in and the owner of the comment, show the edit and delete buttons-->
                                    <% if (currentUser && currentUser._id.equals(comment.author.id) || currentUser && currentUser.isAdmin) { %>
                                    <div class="float-right">
                                        <!--Edit button used for collapsing the edit comment form-->
                                        <% if (currentUser && currentUser._id.equals(comment.author.id)){ %>
                                        <a class="btn btn-sm btn-warning" role="button" data-toggle="collapse" href="#collapseEdit<%= comment._id %>"
                                            aria-expanded="false" aria-controls="collapse<%= comment._id %>">Edit</a>
                                        <% } %>
                                        <!--Delete comment button-->
                                        <form class=" float-right
                                    delete-form"
                                            action="/campgrounds/<%= campground._id %>/comments/<%=comment._id %>?_method=DELETE"
                                            method="POST">
                                            <button class="btn btn-sm btn-danger">Delete</button>
                                        </form>
                                    </div>

                                    <!--Edit comment form-->
                                    <div class="collapse" id="collapseEdit<%= comment._id %>">
                                        <div class="card-body">
                                            <h4>Edit your comment <span class="glyphicon glyphicon-edit" aria-hidden="true"></span></h4>
                                            <form id="edit-comment-form<%= comment._id %>" action="/campgrounds/<%= campground._id %>/comments/<%= comment._id %>?_method=PUT"
                                                method="POST">
                                                <div class="form-group">
                                                    <textarea class="form-control" name="comment[text]" placeholder="Your comment text..."
                                                        form="edit-comment-form<%= comment._id %>" rows="5" cols="70"><%= comment.text %></textarea>
                                                </div>
                                                <div class="form-group">
                                                    <button class="btn btn-warning btn-sm">Edit comment <span class="glyphicon glyphicon-comment"
                                                            aria-hidden="true"></span></button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                    <% } %>
                                    <!--Printing the comment-->
                                    <p>
                                        <%= comment.text %>
                                    </p>
                                </div>
                            </div>

                        </div>
                    </div>
                    <% }); %>
                </div>
                <!--COMMENT SECTION END-->
            </div>
        </div>
    </div>
</div>
</div>

<script>
    function initMap() {
        var lat = <%= campground.lat %>;
        var lng = <%= campground.lng %>;
        var center = {
            lat: lat,
            lng: lng
        };
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 8,
            center: center,
            scrollwheel: false
        });
        var contentString =
            `
            <strong><%= campground.name %><br />
            <%= campground.location %></strong>
            <p><%= campground.description %></p>
          `
        var infowindow = new google.maps.InfoWindow({
            content: contentString
        });
        var marker = new google.maps.Marker({
            position: center,
            map: map
        });
        marker.addListener('click', function () {
            infowindow.open(map, marker);
        });
    }
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=<%= process.env.MAPS_API_KEY %>&callback=initMap"></script>

<% include ../partials/footer %>