<% include ./partials/header %>

<div class="row">
    <div class="col-md-12">
        <form class="form-signin" action="/forgot" method="POST">
            <h1 class="mb-3 text-center">Forgot Password</h1>
            <div class="form-group">
                <label for="email" class="sr-only">Email</label>
                <input type="email" class="form-control" name="email" placeholder="Email address" autofocus>
            </div>
            <div class="form-group text-center">
                <input type="submit" class="btn btn-primary btn-lg btn-block" value="Reset Password">
            </div>
        </form>
        <div class="form-signin">
            <a href="javascript:history.go(-1)">Go back</a>
        </div>
    </div>
</div>


<% include ./partials/footer %>