<% include ./partials/header %>

<div class="row">
    <div class="col-md-12">
        <form class="form-signin" action="/register" method="POST">
            <h1 class="mb-3 text-center">Please sign up</h1>
            <label for="inputUsername" class="sr-only">Username</label>
            <input type="text" id="inputUsername" class="form-control" name="username" placeholder="Username" required
                autofocus>
            <label for="inputPassword" class="sr-only">Password</label>
            <input type="password" id="inputPassword" class="form-control noBorderRadius" name="password" placeholder="Password"
                required>
            <label for="inputFirstName" class="sr-only">First name</label>
            <input type="text" id="inputFirstName" class="form-control noBorderRadius" name="firstName" placeholder="First name"
                required>
            <label for="inputLastName" class="sr-only">Last name</label>
            <input type="text" id="inputLastName" class="form-control noBorderRadius" name="lastName" placeholder="Last name"
                required>
            <label for="inputEmail" class="sr-only">Email</label>
            <input type="email" id="inputEmail" class="form-control noBorderRadius" name="email" placeholder="Email" required>
            <label for="inputAvatarUrl" class="sr-only">Avatar URL</label>
            <input type="text" id="inputAvatarUrl" class="form-control noBorderRadius" name="avatar" placeholder="Avatar URL"
                required>
            <label for="inputAdminCode" class="sr-only">Admin code</label>
            <input type="text" id="inputAdminCode" class="form-control mb-4" name="adminCode" placeholder="Admin Code">
            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        </form>
        <div class="form-signin">
            <a href="javascript:history.go(-1)">Go back</a>
        </div>
    </div>
</div>

<% include ./partials/footer %>